[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pipenv = "*"
install = "*"
pymongo = "*"
djongo = "*"
pandas = "*"
python-decouple = "*"
drf-yasg = "*"
django-filter = "*"
python-memcached = "*"

[dev-packages]

[requires]
python_version = "3.8"
